In [1]:
import random as rd
import pandas as pd 
import numpy as np

In [2]:
data = {'year': [2018, 2015, 2020, 2012],
        'km': [50000, 80000, 20000, 120000],
        'engine_size': [1.6, 2.0, 1.8, 1.4],
        'brand': ['Toyota', 'Honda', 'Volkswagen', 'Ford'],
        'price': [120000, 90000, 150000, 60000]}

In [3]:
dt=pd.DataFrame(data)
dt.head(15)

   year      km  engine_size       brand   price
0  2018   50000          1.6      Toyota  120000
1  2015   80000          2.0       Honda   90000
2  2020   20000          1.8  Volkswagen  150000
3  2012  120000          1.4        Ford   60000

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label_encoder=LabelEncoder()
dt["brand_encoded"]=label_encoder.fit_transform(dt["brand"])

In [6]:
X_train=dt[["year","km","engine_size","brand_encoded"]]
X_train.head

<bound method NDFrame.head of    year      km  engine_size  brand_encoded
0  2018   50000          1.6              2
1  2015   80000          2.0              1
2  2020   20000          1.8              3
3  2012  120000          1.4              0>

In [7]:
y_train=dt["price"]

In [8]:
w_init = pd.Series([6.126,8.321,4.543,4.455])
w_init

0    6.126
1    8.321
2    4.543
3    4.455
dtype: float64

In [9]:
b_init=0.954

In [10]:
def predict(x,w,b):
    result=np.dot(x,w)+b
    return result

In [11]:
predict(X_train.iloc[0],w_init,b_init)

428429.4008

In [12]:
predict(X_train.iloc[1],w_init,b_init)

678038.385

In [13]:
predict(X_train.iloc[2],w_init,b_init)

178817.0164

In [14]:
predict(X_train.iloc[3],w_init,b_init)

1010852.8262

In [15]:
y_pred=np.zeros(4)
for a in range (X_train.shape[0]):
    y_pred[a]= int(predict(X_train.iloc[a],w_init,b_init))
    print(y_pred[a])

428429.0
678038.0
178817.0
1010852.0

In [16]:
df= pd.DataFrame({"gerçek değer":y_train, "tahmin":y_pred})
df

   gerçek değer     tahmin
0        120000   428429.0
1         90000   678038.0
2        150000   178817.0
3         60000  1010852.0

In [17]:
def compute_cost(X_train,y_train,w,b):
    result = 0 
    for a in range(0,X_train.shape[0]):
        result += ((y_train[a]-predict(X_train.iloc[a],w,b))**2)
    result /=(2*X_train.shape[0])
    return result

In [18]:
 compute_cost(X_train,y_train,w_init,b_init)

168233669379.7476

# GRADİENT HESAP

In [19]:
def compute_gradient(X_train,y_train,w,b):
    learning_rate=0.0001
    iterasyonlar=50
    r1=0
    m=X_train.shape[0]
    for a in range(iterasyonlar):
        for i in range(m):
            r1 += (y_train[i]- y_pred[i]) * X_train.iloc[i]
        r1 /= m
        if(compute_cost(X_train,y_train,w,b)<=2):
            break
    w -= learning_rate*r1

In [20]:
compute_gradient(X_train,y_train,w_init,b_init)

In [21]:
compute_cost(X_train,y_train,w_init,b_init)